<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">

    <style>
        * {
            font-family: 'Rubik';
            font-size:large;
        }
        td{
            border:1px solid black
        }
    </style>
</head>
<body>
    <h1>Factorial Calculator</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">find factorial</button>
    </form>
    <table>

    
    {% for i in param1 %}
    <tr>
    {% for j in i %}
    <td>{{j}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>

</body>
</html>
